<div>
  <h1> {{PageTitle}}</h1>
</div>
<div>
  <h1>My Heroes Project</h1>
</div>
<div class='panel-panel-primary'>
  <div class='panel-heading'>
    <h2 class="div1">
      <br>Hero List</h2>
    <br>
  </div>
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]='listFilter' />
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h3>Filtered by:{{listFilter}}</h3>
      </div>
    </div>
    <div class='table-responsive'>
      <table class="table" *ngIf='heroes && heroes.length'>
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary' (click)='toggleImage()'>
                {{showImage ?'Hide':'show' }} Image
              </button>
            </th>
            <th>Hero</th>
            <th>Age</th>
            <th>Movie</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let hero of heroes'>
            <td>
              <img *ngIf='showImage' [src]='hero.imageUrl' [title]='hero.heroName' [style.width.px]='imageWidth' [style.margin.px]='imageMargin' height='30px' width='30px'>
            </td>
            <td>{{hero.heroName}}</td>
            <td>{{hero.heroAge}}</td>
            <td>{{hero.heroMovie}}</td>
            <td>{{hero.starRating}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>